body{
    margin: 0;
    padding: 0;
    font-family: "REM", sans-serif;
}
.navBar{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    /* width: 100%; */
    /* padding: 5px 0px; */
    border-bottom: 1px solid #ebedf0;
    align-items: center;
}

.companyIdentity{
    width: 20%;
}

.navBar img{
    width: 100%;
}


.navs{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 30%;
}

.navs a,h5{
    color: #1e1e1e;
    text-decoration: none;
}

.loginLogoutAndSVGMenu{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 15%;
    align-items: center;
}

.loginLogout{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    width: 70%;
}


.loginLogout a{
    text-decoration: none;
    color: #202121;
}

.signup{
    background-color: #ef5c2b;
    color: white;
    border-color: #ef5c2b;
    width: 50%;
    height: 30%;
    /* margin-left: 5px; */
}


.svgMenu{
    display: flex;
    justify-content: space-around;
    width: 30%;
    align-items: center;
}

.svgMenu select{
    border-style: none;
    width: 70%;
}

.heroSection{
    background-color: #f5fffc;
    display: flex;
    padding: 60px 30px 60px;
}

.mainPart{
    padding-right: 30px;
}

.mainPart h1{
    font-size: 50px;
}

.mainPart p{
    text-align:left ;
    margin-left: 0px;
}


.innerForm{
    padding: 0px 5px 0px 5px;
}

.mostInnerForm{
    padding-right: 300px;
}

.form{

    background-color: white;
    padding: 40px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.form input, select{
    border-width: 2px;
    border-radius: 5px;
    border-color: #e8ecf2;
    width: 100%;
    height: 40px;
}

.location{
    padding-right: 2.5px;
}

.passport{
    padding-left: 2.5px;
}

.submit{
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

.submit input{
    background-color: #ef5c2b;
    color: white;
}


.model{
    width: 400px;
    height: 400px;
}

.guidlinesVisaOptionsNews{
    padding: 60px 30px 60px;
}

.guidlinesTop  p{
    margin-right:50%;
    margin-left: 0px;
}

.guildlinesMiddle{
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    padding-top: 30px;
}

.guildlinesMiddle p{
    margin-left: 0px;
}

.guildlinesMiddleLeft div{
    margin-right: 15px;
    margin-top: 30px;
    /* width: 50%; */
    /* height: 250px; */
    
}

.guildlinesMiddleRight div{
    margin-left: 15px;
    margin-top: 30px;
    /* width: 50%; */
    /* height: 250px; */
}

.chooseDestination{
    background-color: #0793f2;
    color: white;
}

.submitRequirement{
    background-color: #ecfcf6;
}

.submitRequirement h3{
    color: #13a071;
}

.provideInfo{
    background-color: #faf6ff;
}
.provideInfo h3{
    color: #7826ff;
}

.visaApproval{
    background-color: #fff4fe;
}

.visaApproval{
    color: #d77fcd;
}

.chooseDestination,

.submitRequirement,

.provideInfo,

.visaApproval{
    border-radius: 10px;
    padding: 20px;
}

.exploreVisaOptionsMiddle{
    display: flex;
}

.exploreVisaOptionsMiddle img{
    width: 100%;
}

.destination2,.destination3,.destination4{
    margin-left: 30px;
}

.destinationInfo, .destinationInfoRight{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.destinationInfo{
    justify-content: space-between;
}

.destinationInfoRight span{
    color: #ef5c2b;
}

.destinationInfoLeft p{
    margin: 0px;
}

.usa{
    color: #fd6121;
    font-weight: bold;
}

.latestNewsMiddle{
    display: flex;
}

.latestNewsMiddle p{
    color: #929eb0;
    margin-left: 0px;
    margin-right: 0px;
}

.latestNewsMiddle2, .latestNewsMiddle3, .latestNewsMiddle4{
    margin-left: 30px;
}

.latestNewsReadTimeSection{
    display: flex;
    justify-content: space-between;
}

.latestNewsMiddle img{
    width: 100%;
}

.customerTestimonials{
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 100px;
}

.customerTestimonialsTop{
    display: flex;
    justify-content: center;
}

.customerTestimonialsMiddle{
    display: flex;
    justify-content: center;
}

.customerTestimonialsMiddle img{
    width: 30%;
    height: 30%;
    border-radius: 40px;
}
.customerTestimonialsMiddle2,.customerTestimonialsMiddle3,.customerTestimonialsMiddle4{
    margin-left: 30px;
}

.customerTestimonialsMiddle1,.customerTestimonialsMiddle2,.customerTestimonialsMiddle3,.customerTestimonialsMiddle4{
    padding-top: 15px;
    background-color: #f8f5ff;
}

.customerTestimonialsMiddle1 div, .customerTestimonialsMiddle1 h4,.customerTestimonialsMiddle2 div,.customerTestimonialsMiddle2 h4,.customerTestimonialsMiddle3 div, .customerTestimonialsMiddle3 h4,.customerTestimonialsMiddle4 div,.customerTestimonialsMiddle4 h4{
    margin: 15px 15px 0px 0px;
}

.customerTestimonialsMiddle1  p,.customerTestimonialsMiddle2 p,.customerTestimonialsMiddle3 p,.customerTestimonialsMiddle4 ,p{
    margin: 0px 0px 15px 0px;

}

.customerTestimonialsMiddle1stP{
    color: #929eb0;
}

.customerTestimonialsMiddle1  h4,.customerTestimonialsMiddle2 h4,.customerTestimonialsMiddle3 h4,.customerTestimonialsMiddle4 h4{
    color: #ef5c2b;
    font-weight: normal;
}

.footer{
    background-color: black;
}

.footerPlatformDetails{
    display: flex;
    margin: 30px;
    padding-top: 50px;
    justify-content: space-between;
    color: white;
}

/* .footerPlatformDetails:nth-child(1){
    padding-top: 40px ;
} */

.footerPlatformDetails h4{
    margin-left: 0px;
}


.footerBottom{
    display: flex;
    justify-content: space-around;
    margin: 0px  30px;
    padding-top: 25px;
    color: white;
}


@media (max-width: 640px){
    /* .navBar{
        padding: 5px 5px;
    } */

    .navBar img{
        width: 100%;
    }

    .navs{
        width: 40%;
    }

    .navs a{
        word-wrap: break-word;
    }

    .loginLogoutAndSVGMenu{
        width: 20%;
        display: block;
        margin-top: 10px;
        margin-left: 10px;
    }

    .loginLogout{
        display: block;
        width: 100%;
    }
    .signup{
        width: 100%;
        height: 30%;
        margin-top: 10px;
    }

    .svgMenu{
        width: 50%;
    }

    .heroSection{
        flex-direction: column-reverse;
    }

    .mainPart{
        padding-right: 0px;
    }

    .mainPart h1, .mainPart p{
        font-size: 30px;
        text-align: center;
    }

    .mainPart p{
        font-size: medium;
    }

    .modelSpace{
        display: flex;
        justify-content: center;
    }

    .model{
        width: 60%;
        height: 60%;
    }
    
    .mostInnerForm{
        padding-right: 0px;
    }

    .form input, .form select{
        width: 100%;
    }
    
    .guidlinesTop  p, .guidlinesTop h2{
        margin-right: 0%;
        text-align: center;
        font-size: large
    }

    .guildlinesMiddle{
        display: grid;
        grid-template-columns: repeat(1, minmax(0,1fr));
    }

    .guildlinesMiddleLeft div{
        margin-right: 0px;
        margin-top: 15px;
        
    }
    
    .guildlinesMiddleRight div{
        margin-left: 0px;
        margin-top: 15px;
    }

    .exploreVisaOptionsTop h2{
        text-align: center;
    }

    .exploreVisaOptionsMiddle{
        display: grid;
        grid-template-columns: repeat(2, minmax(0,1fr));
        grid-column-gap: 10px;
        
    }

    .destination2,.destination3,.destination4{
        margin-left: 0px;
    }

    .latestNewsTop h2{
        text-align: center;
    }

    .latestNewsMiddle{
        display: grid;
        grid-template-columns: repeat(2,   minmax(0,1fr));
        grid-column-gap: 10px;
    }

    .latestNewsMiddle2, .latestNewsMiddle3, .latestNewsMiddle4{
        margin-left: 0px;
    }

    .customerTestimonialsMiddle{
        display: grid;
        grid-template-columns: repeat(2, minmax(0,1fr));
        grid-column-gap: 10px;
    }

    .customerTestimonialsMiddle2,.customerTestimonialsMiddle3,.customerTestimonialsMiddle4{
        margin-left: 0px;
    }
    
    .footerPlatformDetails{
        display: grid;
        grid-template-columns: repeat(2, minmax(0,1fr));
        grid-column-gap: 10px;
    }

    @media  (max-width: 465px) {
        
        .moreInnerForm{
            padding-right: 0px;
        }

        .form{
            grid-template-columns: repeat(1, minmax(0, 1fr));
            padding: 40px, 0px;
        }



        .exploreVisaOptionsMiddle{
            display: block;
        }

        /* .destination2,.destination3,.destination4{
            margin-left: 0px;
        } */
    }

    @media (max-width:375px) {
        .latestNewsMiddle{
            display: block;
        }
    }

    .customerTestimonialsMiddle{
        display: block;
    }

    @media (max-width:307px) {
        .navs{
            display: grid;
            grid-template-columns: repeat(1, minmax(0,1fr));
        }

        .footerBottom{
            margin: 0px;
        }

        .footerBottom {
            font-size: small;
        }
        
    }


}





